.items-nav {
    display: flex;
    justify-content: center;
    outline:none;
  }
  
  .navigation-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 10px;
  }
  
  .focused-image {
    border: 2px solid red;
  }
  